.header {
	height: 300px;
	width: 100%;
	.title {
		background: url('/image/bg.jpg');
		height: 300px;
		padding-top: 1px;
		p {
			color: #f3f3f3;
			font-size: 36px;
			font-weight: bold;
			width: 931px;
    		margin: 30px auto;
		} 
	}
	.nav {
		margin: -50px auto 0;
		height: 50px;
		padding: 0 200px;
		box-shadow: 0 0 0 1px hsla(0,0%,100%,.3) inset, -2px 1px 7px rgba(0, 0, 0, 0.6);;
		text-shadow: 0 1px 1px hsla(0,0%,100%,.3);
		background: hsla(0,0%,100%,.14);
		.nav-item {
			font-size: 18px;
			color: #fff;
			&:hover, &.selected {
				font-weight: bold;
				color: #051837;
			}
		}
	}
}