.demo {
	.content {
		#dlBt {
			margin-right: 10px;
		}
		#fItem {
			display: flex;
			margin-bottom: 20px;
			padding-bottom: 20px;
			border-bottom: 1px solid #ddd;
			img {
				width: 400px;
				height: 250px;
				border: 10px solid #f0f5fb;
				box-sizing: content-box;
			}
			.demo-text {
				width: 650px;
				margin-left: 32px;
				.title {
					line-height: 30px;
					font-size: 20px;
					color: #0F4DB3;
					text-align: center;
					font-weight: bold;
					margin-bottom: 0px;
				}
				.desc {
					font-size: 16px;
					padding-top: 10px;
					line-height: 28px;
					text-align: justify;
					text-indent: 1em;
				}
				.download {
					width: 220px;
				}
			}
		}
		#sItem {
			.title {
				line-height: 30px;
				font-size: 20px;
				color: #0F4DB3;
				text-align: center;
				font-weight: bold;
				margin-bottom: 10px;
			}
			.ant-list {
				width: 600px;
				margin: 0 auto;
			}
			.item-table {
				width: 70%;
				margin: 0 auto;
			}
			.ant-table-row {
				font-size: 16px;
			}
			.ant-table-thead {
				font-size: 17px;
			}
		}
		#rItem {
			.title {
				line-height: 30px;
				font-size: 20px;
				color: #0F4DB3;
				text-align: center;
				font-weight: bold;
				margin-bottom: 10px;
			}
			padding-top: 20px;
			margin-top: 20px;
			border-top: 1px solid #ddd;
			.demo-content {
				margin-top: 20px;
				position: relative;
			}
			.ant-tag {
				font-size: 15px;
			}
			.params {
				display: flex;
				align-items: center;
				justify-content: center;
			}
			.tag-group {
				width: 310px;
				height: 60px;
				align-content: space-around;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
			}
		}
	}
}

.ant-dropdown {
	.smb {
		background: none;
		cursor: pointer;
		&.b-final {
			color: #ca0e27;
			font-weight: bold;
		}
	}
}